.user-list {
  padding: 20px 12px;
  display: flex;
  flex-direction: column;
  row-gap: 25px;

  &__link {
    display: flex;
    align-items: center;
    column-gap: 30px;
    color: $cesoir;
    font-size: 16px;

    transition: all 0.25s ease-in;

    svg {
      flex-shrink: 0;
    }

    span {
      color: $black;
    }

    &:hover {
      opacity: 0.8;
      filter: drop-shadow(0 0 1px $white);

      span {
        color: $honey-flower;
      }
    }

    &:active {
      opacity: 1;
    }
  }
}
