// font-family
$ubuntu: "Ubuntu", "Verdana", sans-serif;

//palette
$white: #ffffff;
$black: #000000;

$cesoir: #9564aa;
$honey-flower: #684677;
$mulberry: #c15ca1;
$sunglow: #ffcf2d;
$coral-tree: #aa6464;

//vp
$desktop: 1024px;
